<br/>
<div class="card">
  <strong class="card-header">Commenter: <%= comment.user.email %></strong>
  <div class="card-body">
    <strong>Comment:</strong>
    <%= comment.content %>
  </div>
</div>
<br/>