<table>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>Admin</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
    </tr>
  <% end %>
</table>