<table>
  <tr>
    <th>email</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

    <tr>
      <td><%= @user.try(:email) %></td>
      <td><%= @user.try(:first_name) %></td>
      <td><%= @user.try(:last_name) %></td>
    </tr>
</table>