<table>
  <tr>
    <th>email</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

    <tr>
      <td><%= @user.email %></td>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
    </tr>
</table>