<div id="task-info" class="alert alert-info">
  Tasks with status <%= params[:status].to_s%>, <%= @tasks.size%> pcs. |
  <%= link_to 'Show', task_by_filter_path(params[:status]), class: 'btn btn-primary' %>
</div>