<div id="user-info" class="alert alert-info">
  Tasks for user <%= User.find(params[:user_id]).email %>, <%= @tasks.size%> pcs. |
  <%= link_to 'Show', person_tasks_path(params[:user_id]), class: 'btn btn-primary' %>
</div>